body{
    display: grid;
    grid-template-areas:    'header'
                            'main form'
                            'otherDiv' /** pendiente poner nombre copado*/
                            'footer';
}
header{
    grid-area: header;
}
footer{
    grid-area: footer;
}

.mainInfo{
    grid-area: main;
}
.otherDiv{
    grid-area: otherDiv;
}

#assistForm{
    grid-area: form;
    max-width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 10; /** testing */
}

#assistForm form{
    width: min-content; 
    /** modificar */
}












 @media screen and (max-width:660px){
     .mobileNav{
         display: block;
     }
     #assistForm{
         display: none;
     }
 }
 @media screen and (min-width:661px){
    .mobileNav{
        display: none;
    }
    #assistForm{
        display: block;
    }
}
