body{
    margin: 0;
}
header{
    background-color: #ffd6a8;
    width: 100%;
}
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #F8F9F9;
}
footer > div{
    margin: 10px 25px 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #405457;
}
section{
    display: grid;
    grid-template-areas:    'main form'
                            'otherDiv otherDiv'; /** pendiente poner nombre copado*/
    margin: 5% 15%;
}
header h1{
    font-family: SharpSansNo1-Bold;
    font-size: 40px;
    color: #021800;
    text-align: center;
    line-height: 52px;
    margin: 10px;
}
form{
    font-family: SharpSansNo1-Semibold;
    font-size: 14px;
    color: #02363D;
}
form h2, #assistForm h3{
    text-align: center;
}
form h2{
    font-size: 20px;
    line-height: 29px;
}
form button[type=submit]{
    background: #02363D;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    width: 80%;
    margin: 2%;
}
form button[type=submit]:hover{
    cursor: pointer;
    background: #03262b;
}

.titleDiv{
    padding: 5%;
    text-align: center;
    display: grid;
}
.date{
    font-family: SharpSansNo1-Bold;
    font-size: 21px;
    font-weight: normal;
    color: #00373E;
    text-align: center;
    line-height: 40px;
    margin: 0;
}
.logo{
    justify-self: center;
    background-color: #c05100;
    border-radius: 5px;
    font-family: SharpSansNo1-Bold;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.93px;
    text-align: center;
    line-height: 15px;
    width: fit-content;
    padding: 0.5em 1em;
}
.mainInfo{
    grid-area: main;
}
.mainInfo p, footer{
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #405457;
    letter-spacing: 0;
    line-height: 28px;
}
.otherDiv{
    grid-area: otherDiv;
}
.nameBox{
    display: grid !important;
    grid-template-rows: 1fr 1fr;
}
.nameBox h3, .nameBox h4{
    margin:1px;
}
.valid{
    border-color: green;
}
.invalid{
    border-color: red;
}



#assistForm{
    background-color:  #F8F9F9;
    padding: 0 5%;
    z-index: 1;
}

#logosSpan{
    display: flex;
    flex-flow: wrap;
}
#logosSpan img{
    justify-self: center;
    padding: 5px;
    height: 25px;   
}
#logosSpan img:hover{
    cursor: pointer;
    border: 1px rgba(0, 0, 0, 0.377) solid;
    border-radius: 2px;
}
#organizers img{
    height: 5em;
}
#organizers div{
    display: flex;
}
#organizers h3, #organizers h4{
    font-family: SharpSansNo1-Semibold;
    line-height: 26px;
}
#organizers h3{
    font-size: 20px;
    color: #02363D;
}
#organizers h4{
    font-size: 16px;
    color: #021800;
}


input, select{
    display: block;
    width: 80%; 
    min-width: min-content;
}
input{
    height: 2em;
}












 @media screen and (max-width:660px){
    section{
        grid-template-areas:'main'
                            'otherDiv';
    }
     .mobileNav{
         display: block;
     }
     #assistForm{
         display: none;
         width: 100%;
         height: 100%;
         position: fixed;
         top: 0;
         left: 0;
         padding: 0;
     }
     #assistForm form{
         display: grid;
         justify-content: center;
     }
     #assistForm button{
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         margin: 0;
     }
 }
 @media screen and (min-width:661px){
    .mobileNav{
        display: none;
    }
    #assistForm{
        grid-area: form;
    }
    section{
        grid-template-areas: 'main' 'form' 'otherDiv';
    }
}
@media screen and (min-width:990px) {
    section{
        grid-template-columns: 50% 50%;
        grid-template-areas:    'main form'
                                'main _'
                                'otherDiv otherDiv' !important; /** pendiente poner nombre copado*/
    }
}
